body{
    background-color: #282B59;
    font-family: 'Reem Kufi Fun', sans-serif;
}



.i {
    font-size: large;
}


/* NavBar Stuff */

header {
    display: flex;
    justify-content: center;   
}

nav {
    display: inline-table;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;

}

nav.navbar {
    padding: 0;
    margin: 0;
}

#nampfp {
    text-align: center;
    
}

#pfp {
    border-radius: 50%; 
    text-align: center;
}

#name {
    color: white;
    text-align: center;
    font-size: xx-large;
}


.links {

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

ul.links {
    margin: 0;
    padding: 0;
}

nav a { 

    text-decoration: none;
    font-size: xx-large;
    color: white;
    display: flex;
}

nav a:hover {
    cursor: pointer;
    font-weight: bold;
}

#about,
#projects,
#contact {


    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.mainme {

    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-top: 1%;
    display: flex;   
}


section {

    border: 1px solid #232650;
    border-radius: 25px;
    background: #232650;
    padding: 20px;
    text-align: center;
}

section #aboutme { 
 
    text-align: center;
    color: white;
}

#aboutme {

    margin-left: auto;
    margin-right: auto;
}

p {

    color: white;
    text-align: center;
    flex-wrap: wrap;
    font-size: x-large;
    font-family: 'Reem Kufi Fun', sans-serif;
}

.brdo {

    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-top: 1%;
 
}

section #whatido {
 
    text-align: center;
    color: royalblue;
    display: inline-block;
}



h1 u {
 
    color: royalblue;
}

h2 {
    text-align: left;
    color: royalblue;
}

h3 {
    color: orange;
    text-align: left;
    font-size: larger;
}

#skills {
    text-align: left;
    font-size: large;
    flex-direction: column;
    position: relative;
}

#img {
    height: 24px;
    width: 21px;
    
}

#text {
    color: white;
}

div #footer {
    border: 1px solid #282B59;
    border-radius: 25px;
    background: #282B59;
    padding: 20px;
    text-align: center;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    display: flex
}

#socials {
    width: auto;
    height: auto;
    font-size: xx-large;
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 8px;
}

#socialinks {
    color: white;
    padding-right: 20px;
    
}

#socialinks:hover {
    font-size: 45px;
    color: gold;
    cursor: pointer;
}




/* Project page styles */

#projects h1 { 
color: white;
text-align: center;
font-size: xx-large;
}


#projects {
max-width: 1000px;
text-align: left;
margin-left: auto;
margin-right: auto;


}

#projects a {
    color: white;
}



#bfproject {
    border: 5px solid #282B59;
    border-radius: 25px;
    text-align: center;  
}

#bfproject h2{
    text-align: center;
}

.projectimage {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    width: auto; 
    text-align: center;
}

#projectdiv {
margin-top: 30px;
}

#currency {
    border: 5px solid #282B59;
    border-radius: 25px;
}


#currency h2 {
    text-align: center;
}
#converter h2 {
    text-align: center;
}

#currency p {
    padding: 5px;
}

#projects #convertor {
    border: 5px solid #282B59;
    border-radius: 25px;

}

#converter {
    border: 5px solid #282B59;
    border-radius: 25px;
    text-align: center;

}


