body{
    background-color: #282B59;
}

/* NavBar Stuff */

header {
    display: flex;
    justify-content: center;   
}

nav{
    display: inline-table;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    text-align: center;
}

#pfp {
    border-radius: 50%;  
}


.links 
{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

nav a
{
    text-decoration: none;
    font-size: xx-large;
    color: white;
}

nav a:hover 
{
    background-color: #232650;
    border: 5px solid #232650;
    cursor: pointer;
    border-spacing: 10px 10px;
    border-radius: 25px;
    padding: 10px;
    text-decoration: underline;
}

#about,
#projects,
#contact
{
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

.mainme
{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-top: 1%;
    display: flex;   
}

section 
{
    border: 1px solid green;
    border-radius: 25px;
    background: #12A628;
    padding: 20px;
    text-align: center;
}

section #aboutme
 {
    text-align: center;
    color: white;
}

#aboutme 
{
    margin-left: auto;
    margin-right: auto;
}

p 
{
    color: black;
    text-align: center;
    flex-wrap: wrap;
    font-size: x-large;
}

.brdo
{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-top: 1%;
    display: flex;   
}

section #whatido
 {
    text-align: center;
    color: white;
}
